<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&family=Josefin+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='chat.js') }}"></script>

    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<body>
    <header>
        <nav>
            <a href="/" class="cute-font">NOOK</a>
            <a href="/ideas">Ideas</a>
            <a href="/projects">Projects</a>
            <a href="/chat">Companion</a>
        </nav>
    </header>

    <main>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="alert alert-{{ category }}">
                        <span>{{ message }}</span>
                    <button type="button" class="alert-close" onclick="this.parentElement.remove();">❌</button>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}


        {% block body %}
        {% endblock %}
    </main>
</body>

</html>
