{% extends "base.html" %}


{% block title %}

    Nook | Ideas

{% endblock %}


{% block body %}
    <div class="form-action">
        <form action="/ideas" method="POST">
            <textarea name="raw_content" placeholder="Add an idea" class="text-area"></textarea>
            <button type="submit" class="submit-button">➕</button>
        </form>
    </div>
    
    <div class="current_ideas">
        {% if rows %}
            {% for row in rows %}
            <div class="idea-card">
                <div class="card-header">
                    {% if row.ai_category %}
                    <span class="category-badge cute-font">{{ row.ai_category }}</span>
                    {% endif %}
                    
                    <span class="timestamp" title="{{ row.created_at|full_date }}">
                        {{ row.created_at|time_ago }}
                    </span>
                </div>
                <p class="card-content">{{ row.raw_content }}</p>
                <div class="card-tags">
                    {% if row.ai_tags %}
                    {% for tag in row.ai_tags %}
                        <span class="tag-chip">#{{ tag }}</span>
                    {% endfor %}    
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>No ideas...</p>
        {% endif %}
    </div>            
{% endblock %}
